BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 300
BraceWrapping:
  AfterControlStatement: false
  BeforeElse: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
